<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Lnn.mapper.AttendanceMapper">



    <update id="update">
        update attendance
        set state = #{state}
        where user_id = #{userId} and activity_id = #{activityId}
    </update>

    <select id="inquireByActivity" resultType="com.Lnn.vo.responseVO.AttendanceVO">
        select att.user_id userId,u.username username,att.activity_id activityId,act.name activityName,state
        from attendance att left join user u on att.user_id = u.id
                            left join activity act on att.activity_id =act.id
        where att.activity_id = #{activityId}
    </select>

        <select id="inquireByUser" resultType="com.Lnn.vo.responseVO.AttendanceVO">
        select  u.id,u.username, act.id activityId,act.name activityName,state
        from attendance  att left join user u on att.user_id = u.id
                             left join activity act on att.activity_id =act.id
        where att.user_id = #{userId}
    </select>


    <insert id="insert">
        insert into attendance (user_id, activity_id, state)
        values(#{userId},#{activityId},#{state})
    </insert>

</mapper>