<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Lnn.mapper.PaymentMapper">


    <!-- 根据用户id 查询缴费信息 -->


    <select id="getSumByActivityId" resultType="java.lang.Double">
        select sum(cost)
        from payment
        where activity_id = #{activityId};
    </select>


    <insert id="insert" useGeneratedKeys="true">
        insert into payment (user_id, activity_id, cost,state) values (#{userId},#{activityId},#{cost},#{state});
    </insert>

    <select id="getPaymentByUserId" resultType="com.Lnn.vo.responseVO.PaymentVO">
        select user_id,username, activity_id,name activityName, p.cost,p.state
        from  payment p left join user u on p.user_id = u.id
                        left join activity a on p.activity_id = a.id
        where user_id = #{userId}
    </select>


    <select id="getPaymentByActivityId" resultType="com.Lnn.vo.responseVO.PaymentVO">
        select user_id,username, activity_id,name activityName, p.cost, state
        from  payment p left join user u on p.user_id = u.id
                        left join activity a on p.activity_id = a.id
        where activity_id = #{activityId}
    </select>

    <update id="update">
        update payment
        set state = #{state}
        where user_id=#{userId} and activity_id = #{activityId}
    </update>


</mapper>