<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Lnn.mapper.UserClubMapper">

    <!--新增申请社团信息-->
    <insert id="insert">
        insert into `user-club` (user_id, club_id, authority, role, state)
        values (#{userId},#{clubId},#{authority},#{role},#{state})
    </insert>



    <!--查询与用户有关的社团的权限-->
    <select id="getClubAuthorityByUserId" resultType="com.Lnn.vo.responseVO.ClubAuthorityVO">
        select  u.id,u.username, c.id clubId, c.name clubName, authority,uc.role
        from user u left join `user-club` uc on u.id = uc.user_id
                    left join club c on uc.club_id = c.id
        where user_id  = #{userId} and state = 2
    </select>


    <!--修改权限-->
    <update id="updateAuthority">
        update `user-club`
        set authority = #{authority}
        where user_id = #{userId} and club_id = #{clubId}
    </update>

    <!--修改身份-->
    <update id="updateRole">
        update `user-club`
        set role = #{role}
        where user_id = #{userId} and club_id = #{clubId}
    </update>

    <select id="getUserAuthorityByClubId" resultType="com.Lnn.vo.responseVO.ClubAuthorityVO">
        select  u.id userId,u.username, c.id clubId, c.name clubName, authority,uc.role
        from user u left join `user-club` uc on u.id = uc.user_id
                    left join club c on uc.club_id = c.id
        where club_id = #{clubId} and state = 2
    </select>


    <!--获取 入团申请-->
    <select id="getSignInByClubId" resultType="com.Lnn.vo.responseVO.SignStateVO">
        select u.id userId,u.username,c.id clubId,c.name clubName,uc.state
        from `user-club` uc left join user u on uc.user_id = u.id
                            left join club c on uc.club_id = c.id
        where uc.club_id = #{clubId} and state = 0
    </select>


    <update id="updateSignIn">
        update `user-club`
        set state = #{state}
        where user_id = #{userId} and club_id = #{clubId}
    </update>


    <delete id="delete">
        delete from `user-club`
        where user_id = #{userId} and club_id = #{clubId}
    </delete>


    <!--判断是否已存在-->
    <select id="existsSignIn" resultType="java.lang.Integer">
        select count(*)
        from `user-club`
        where user_id = #{userId} and club_id = #{clubId}
    </select>

</mapper>